<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wyskocz - {% block title %}{% endblock %}</title>
        
        {% stylesheets 
            'bundles/wyskocz/css/bootstrap.min.css'
            'bundles/wyskocz/css/style.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}  
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/bmatznerleaflet/css/leaflet.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span></button>
                

                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{{ path('home') }}">Wyskocz</a></li>
                  <li><a href="{{ path('places_list') }}">Lista miejsc</a></li>
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <li>
                    <a href="{{ path('admin') }}">
                        Panel
                    </a>
                  </li>
                  <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        Wyloguj
                    </a>
                  </li>
                  
                  {% endif %}
                </ul>
              </div>
              
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
              <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" role="form" method="post" action="{{ path("fos_user_security_check") }}">
                  <div class="form-group">
                    <input placeholder="Nazwa użytkownika" name="_username" class="form-control" type="text" />
                  </div>

                  <div class="form-group">
                    <input placeholder="Hasło" name="_password" class="form-control" type="password" /> 
                  </div><button type="submit" class="btn btn-success">Zaloguj</button>
                </form>
              </div><!--/.navbar-collapse -->
               {% endif %} 
            </div>
          </div><!-- Main jumbotron for a primary marketing message or call to action -->
        
        
        <div class="container">
           <div class="jumbotron">
            {% block mapbox %}{% endblock %}
           </div>
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery.js"></script>
        {% block javascripts %}{% endblock %}
        {% javascripts '@WyskoczBundle/Resources/public/js/bootstrap.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>

