{% extends "UserBundle::layout.html.twig" %}
{% block stylesheets %}
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css" />
{% endblock %}
{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {attr : { 'class' : 'form-control'}}) }}
    </div>
{% endblock %}
{% block fos_user_content %}

<div id="registration-form">
{{ form_start(form, {'attr' : {'role' : 'form'}}) }}
    {{ form_errors(form) }}
    
    <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_widget(form.username, {'attr' : { 'class' : 'form-control', 'title' : 'Pod tą nazwą będziesz identyfikowany w serwisie.' }}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr' : { 'class' : 'form-control', 'title' : 'Wymagany do potwierdzenia rejestracji.' }}) }}
    </div>

    {% for passwordField in form.plainPassword %}
        <div class="form-field">
            {{ form_label(passwordField, null, { 'attr': {'class': 'form-control'} }) }}
            {{ form_widget(passwordField, { 'attr': {'class': 'form-control'} }) }}
        </div>
    {% endfor %}
        
        <div class="form-field">
            <div class="checkbox">
              <label>
                  <input required type="checkbox" id="consent1" name="consent1" /> Oświadczam, że znam i akceptuję postanowienia <a href="{{path('tos')}}">Regulaminu</a>.
              </label>
            </div>
            <div class="checkbox">
              <label>
                  <input required type="checkbox" id="consent2" name="consent1" /> Wyrażam zgodę na przetwarzanie podanych przeze mnie danych osobowych przez Wyskocz sp. z o.o. z siedzibą w Gdańsku w zakresie i w celu świadczenia usług określonych <a href="{{path('tos')}}">Regulaminem</a>. Przetwarzanie danych osobowych odbywa się na zasadach określonych  <a href="{{path('privacy-policy')}}">polityką ochrony prywatności</a>.
              </label>
            </div>
        </div>

        <div class="form-field">
            <input type="submit" id="register-submit" class="btn btn-success pull-right" value="Zarejestruj" />
        </div>
    </div>
{{ form_end(form) }}   
</div>
{% endblock fos_user_content %}
{% block javascripts %}
<script src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>
<script>
    $('[title]').qtip({position: {
        my: 'top center',  // Position my top left...
        at: 'bottom center' // at the bottom right of...
    }}); 

    $('#register-submit').click(function() {
        if( !$('#consent1').is(":checked")) {
            alert('Musisz zaakceptować postanowienia regulaminu.');
        }
        
        if( !$('#consent1').is(":checked")) {
            alert('Musisz zaakceptować zasady naszej polityki prywatności.');
        }
    });
</script>
{% endblock %}
