{% extends '::admin.html.twig' %}
{% block title %}
Lista miejsc
{% endblock %}
{% block body -%}
    <h3>Lista miejsc</h3>
    
    <a href="{{ path('admin_place_new') }}">
        <button type="button" class="btn btn-primary btn-sm">Dodaj nowe</button>
    </a>
    
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nazwa</th>
                <th>Typ</th>
                <th>Opis</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places.raw %}
            <tr>
                <td><a href="{{ path('admin_place_show', { 'id': place.id }) }}">{{ place.id }}</a></td>
                <td>{{ place.name }}</a></td>
                <td>{{ place.type }}</a></td>
                <td>{{ place.description }}</a></td>
                <td>
                    <a href="{{ path('view_place', { 'id': place.id }) }}"
                        <button type="button" class="btn btn-primary btn-xs">Pokaż</button>
                    </a>
                    <a href="{{ path('admin_place_edit', { 'id': place.id }) }}">
                        <button type="button" class="btn btn-info btn-xs">Edytuj</button>
                    </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_place_new') }}">
        <button type="button" class="btn btn-primary btn-sm">Dodaj nowe</button>
    </a>
    {% endblock %}
