{% extends '::base.html.twig' %}
{% block title %}
Lista miejsc
{% endblock %}
{% block mapbox %}
        <div id="map" style="height:380px"></div>
        <script type="text/javascript" src="{{ asset('bundles/bmatznerleaflet/js/leaflet.min.js') }}"></script>

        <script>
            var puby = {{ places.json|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
            var map = L.map('map').setView([54.39755, 18.57134], 11);
            L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
            }).addTo(map);
            var popup = L.popup();
            L.marker([54.39755, 18.57134]).addTo(map)
            .bindPopup("<b>Uniwersytet Gdański!</b><br />Tutaj nie ma żadnych pubów.").openPopup();

            L.marker([54.39755, 18.57134]).addTo(map);
            function onEachFeature(feature, layer) {

            }

            L.geoJson(puby, {
                style: function (feature) {
                    return {color: feature.properties.color};
                },
                onEachFeature: function (feature, layer) {
                    layer.bindPopup(
                            "<b>" + feature.properties.name + "</b><br/>" +
                            feature.properties.description

                            );
                }
            }).addTo(map);


        </script>
    {% endblock %}
{% block body -%}
<div class="container">
    <h3 class="pull-left">Lista miejsc</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th><a href="{{ path('places-list') }}{%if category is defined%}:{{category}}{%endif%}/sort:name:{%if orderMethod == 'asc'%}desc{%else%}asc{%endif%}">Nazwa {% if order == 'name' %}<span class="glyphicon glyphicon-chevron-{%if orderMethod == 'asc'%}up{%else%}down{%endif%}">{% endif %}</span></a></th>
                {%if category is not defined%}<th>Rodzaj</th>{%endif%}
                <th><a href="{{ path('places-list') }}{%if category is defined%}:{{category}}{%endif%}/sort:rating:{%if orderMethod == 'asc'%}desc{%else%}asc{%endif%}">Ocena {% if order == 'rating' %}<span class="glyphicon glyphicon-chevron-{%if orderMethod == 'asc'%}up{%else%}down{%endif%}">{% endif %}</a></th>
            </tr>
        </thead>
        <tbody>
        {% for place in places.raw %}
            
            <tr>
                <td><a href="{{ path('view-place', { 'id': place.id }) }}">{{ place.id }}</a></td>
                <td>{{ place.name }}</td>
                {%if category is not defined%}<td>{{ place.type }}</td>{%endif%}
                <td><code>{{ place.voteValue }}</code> <span class="glyphicon glyphicon-heart rating"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
        
    </table>
    <div class="row">
        {% for page in range(0, count/max) %}
        <a href="{{ path('places-list') }}{%if category is defined%}:{{category}}{%endif%}/page:{{page+1}}{%if order is defined%}/sort:{{order}}{%endif%}{%if orderMethod == 'asc'%}:asc{%else%}:desc{%endif%}" class="btn btn-primary btn-xs">{{page+1}}</a>
        {% endfor%}
        </div>
</div>
    {% endblock %}
