{% extends '::base.html.twig' %}
{% block title %}
Lista miejsc
{% endblock %}
{% block mapbox %}
    <div>
        <div id="map" style="height:380px"></div>
        <script type="text/javascript" src="{{ asset('bundles/bmatznerleaflet/js/leaflet.min.js') }}"></script>

        <script>
            var puby = {{ places.json|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
            var map = L.map('map').setView([54.39755, 18.57134], 11);
            L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
            }).addTo(map);
            var popup = L.popup();
            L.marker([54.39755, 18.57134]).addTo(map)
            .bindPopup("<b>Uniwersytet Gdański!</b><br />Tutaj nie ma żadnych pubów.").openPopup();

            L.marker([54.39755, 18.57134]).addTo(map);
            function onEachFeature(feature, layer) {

            }

            L.geoJson(puby, {
                style: function (feature) {
                    return {color: feature.properties.color};
                },
                onEachFeature: function (feature, layer) {
                    layer.bindPopup(
                            "<b>" + feature.properties.name + "</b><br/>" +
                            feature.properties.description

                            );
                }
            }).addTo(map);


        </script>
    </div>
    {% endblock %}
{% block body -%}
    <h3>Lista miejsc</h3>
    
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nazwa</th>
                <th>Rodzaj</th>
                <th>Opis</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places.raw %}
            
            <tr>
                <td><a href="{{ path('view_place', { 'id': place.id }) }}">{{ place.id }}</a></td>
                <td>{{ place.name }}</a></td>
                <td>{{ place.type }}</a></td>
                <td>{{ place.description }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_place_new') }}">
        <button type="button" class="btn btn-primary btn-sm">Dodaj nową</button>
    </a>
    {% endblock %}
